div.assignmentbar {
    float: left;
    width: 25%;
    height: 100%;
}

div.calendar {
    float: left;
    width: 75%;
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#external-events {
    float: left;
    width: 25%;
    min-height:100em;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
    height: 5em;
}

#calendar {
    width: 73%;
    padding-left: 2%;
}

#par{
    padding-top:0.5em;
    padding-bottom:1em;
    display:flex;
    align-items: center;
    align-content: center;
}

.event-img{
    height:7%;
    width:7%;
    float:right;
    display:flex;
    margin-left:3%;
    margin-right:2%;
}

.option-img{
    height:50%;
    width:5%;
    margin-bottom:2.5%;
    display: inline-block;
}

.notes-img{
    height:50%;
    width:5%;
    margin-left:-12%;
    display: inline-block;
}

.option-img:hover{
    cursor:pointer;
}

#event-img:hover{
    cursor: pointer;
}

.event-element{
    width:90%;
    padding-top:1.8em;
    padding-left:1em;
    display: inline-block;
    overflow: hidden;
}

#event-container{
    align-items: center;
    align-content: center;
}

#add-event-menu{
    display:flex;
    width:100%;
}

.completed .fc-event-title{
    text-decoration: line-through;
}

.contextMenu{
    color: black;
}

.contextMenu *{
    background-color:rgb(117, 215, 215);
    border:0.1em;
    border-style: solid;
    border-radius:1em;
    border-color:black;
    text-align: center;
}

.menuItem-close{
    background-color:rgb(128, 226, 128);
}

#save-note-box{
    margin-left: 5px;
}

.form-check-input{
    margin-right: 5px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
}

.form-check-label{
    margin-top: 1px;
    font-size: 18px;
}

.calendar-selector{
    margin-left: 5px;
}