* { 
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

header,
nav,
.row {
    margin: 10px;
}

.add-note {
    width: 10%;
    float: right;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
}

.add-note:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.25em;
}

#collection,
#collection:hover {
    color: rgb(59, 86, 237);
}

.notes-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.notes-list-item {
    cursor: pointer;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    width: 100%;
}

.notes-list-item-selected {
    background: rgb(228, 228, 228);
}

.notes-list-item:hover {
    background: rgba(219, 219, 219, 0.5);
}

.note-small-title {
    font-weight: bold;
}

.note-small-body {
    padding-left: 1em;
    font-style: italic;
    font-weight: lighter;
    width: 25em;
}

.note-small-updated {
    padding-right: 1em;
    text-align: right;
    font-style: italic;
    color: grey;
}

.notes-preview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5em 0.5em;
    border-left: 1px solid rgb(0, 0, 0);
}

.note-title, .note-body {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5em;
}

.note-title {
    font-weight: bold;
    font-size: 2em;
}

.note-body {
    flex-grow: 1;
    resize: none;
    min-height: 400px;
}

/* The following is CSS styling for the alternate notes display I was working on. I haven't decided what to do with it yet */
/* #notebook_details {
    height: 500px;
    background-color: rgb(219, 219, 219);
}

#display-title {
    text-align: center;
    padding-top: 1%;
    margin-bottom: 2%;
}

.thumbnail-container {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

.note-thumbnail {
    width: 100px;
    margin: 10px;
    border: none;
}

.note-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.note-label {
    text-align: center;
} */