header, nav, .row {
    margin: 10px;
}

#add_img {
    height: 5%;
    width: 5%;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#collection, #collection:hover {
    color: rgb(59, 86, 237);
}

#notebook_details {
    height: 500px; /* Change height property to percentage after putting things in it */
    background-color: rgb(219, 219, 219);
}